<div class="w3-container w3-card-2 w3-white w3-margin-bottom"> <!--Career-->
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal" aria-hidden="true"></i>Career</h2>
    <div class="w3-container"> <!-- LGSS Dev ADA1 -->
        <h5 class="w3-opacity"><b>Applicaton Development Analyst/ </b>Local Government Shared Services</h5>
        <h6 class=""><i class="fa fa-calendar fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></i>May 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
        <h6 class=""><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></i>Cambridge, United Kingdom</h6>
        <hr>
    </div>
    <div class="w3-container w3-text-dark-grey"> <!-- LGSS Dev Apprentice -->
        <h5 class="w3-opacity"><b>Applicaton Development Analyst (Apprentice) / </b>Local Government Shared Services</h5>
        <h6 class=""><i class="fa fa-calendar fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></i>May 2014 - May 2015</h6>
        <h6 class=""><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></i>Cambridge, United Kingdom</h6>
        <hr>
    </div>
    <div class="w3-container w3-text-dark-grey"> <!-- Nationwide -->
        <h5 class="w3-opacity"><b>Customer Representative / </b>Nationwide Building Society</h5>
        <h6 class=""><i class="fa fa-calendar fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></i>Jul 2009 - Apr 2014</h6>
        <h6 class=""><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></i>March, Cambridgeshire, United Kingdom</h6>
        <hr>
    </div>
</div>