<div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <!--Career-->
    <h2 class="w3-text-grey w3-padding-16"><em class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"
            aria-hidden="true"></em>Career</h2>
    <div class="w3-container w3-text-dark-grey">
        <!-- LGSS Digital -->
        <h5 class="w3-opacity"><strong>LGSS Digital</strong></h5>
        <h6 class=""><em class="fa fa-globe fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>Cambridge,
            Northampton, Milton Keynes & Remote</h6>
        <h6 class=""><strong>Senior developer</strong></h6>
        <h6 class=""><em class="fa fa-calendar fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>May 2018 -
            <span class="w3-tag w3-teal w3-round">Current</span></h6>
        <ul>
            <li>Delivered savings for partners in an agile manner as part of a mutli-disciplinary team using a mix of on
                premise and cloud technologies including AWS and Azure.</li>
            <li>Created a web applications using frameworks and libraries most recently; Vue.js and Vuetify</li>
            <li>Created server-side and serverless REST endpoints using; Node.js, Heroku, cloudformation, lambda and API
                gateway</li>
            <li>Provided day-to-day operational support for 10+ in-house built applications requiring me to administer
                databases (Both SQL & NoSQL), third party integrations (REST) and a wide range of web technologies
                including; Python and Selenium </li>
            <li>Regularly contributing and facilitating conversations around the team’s working practices which are
                recorded in our tech playbook; an accessible guide created to provide consistency for team members when
                designing, implementing and testing (bdd) software.</li>
            <li>Supported peers with their personal and professional development through paired programming sessions,
                code reviews and 1-1 coaching/mentoring sessions.</li>
            <li>Delivered presentations, demos and facilitated workshops to a variety of peers and stakeholders.</li>
        </ul>
        <hr>
        <h6 class=""><strong>Developer</strong></h6>
        <h6 class=""><em class="fa fa-calendar fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>May 2015 -
            May 2018</h6>
        <ul>
            <li>Built interfaces and integrated with both REST endpoints and internal legacy systems via SOAP to deliver
                an end-to-end service for Blue Badge permit applications which was described by a cambridgeshire tax
                payer as ‘the best thing that cambridgeshire county council has ever done’. The development was
                projected to save the council £60,000 every year. The project was shortlisted for the Digital leaders’
                public service innovation of the year award in 2017.</li>
            <li>Worked as part of a multi-skilled in-house team delivering value to our partners whilst developing my
                foundation skills in HTML, JavaScript and CSS to improve the front-end experience for our users.</li>
            <li>Responsible for scoping, estimating and implementing solutions across the shared services estate</li>
        </ul>
        <hr>
        <h6 class=""><strong>Apprentice</strong></h6>
        <h6 class=""><em class="fa fa-calendar fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>May 2014 -
            May 2015</h6>
        <ul>
            <li>Worked with a project team to implement a service desk solution for the organisation using aspects of
                waterfall methodology and ITIL. The project required us to understand the limitations of the partner’s
                infrastructure whilst still delivering an modern and intuitive experience for users.</li>
            <li>Achieved a distinction grade for City and Guilds level 3 advance diploma in software development</li>
        </ul>
        <hr>
    </div>
    <div class="w3-container w3-text-dark-grey">
        <!-- Nationwide -->
        <h5 class="w3-opacity">Nationwide Building Society</h5>
        <h6 class="">
            <em class="fa fa-globe fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>
            March, Cambridgeshire, UK
        </h6>
        <h6 class=""><strong>Customer representative</strong></h6>
        <h6 class=""><em class="fa fa-calendar fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>Jul 2009 -
            Apr 2014</h6>
        <ul>
            <li>Contributed to a branch that upheld the highest level of customer feedback</li>
            <li>Held additional responsibilities as a bankage office such as; key handling, servicing ATM's and
                documentation of cash collection/deliveries</li>
            <li>Processed new client accounts, maintained customer accounts, counting money, cashing checks and
                servicing accounts, implementing changes to existing accounts, filing documents and paperwork</li>
            <li>Assisted customers with information to address inquiries regarding products and services
            </li>
        </ul>
        <hr>
    </div>
</div>