<div class="w3-container w3-card-2 w3-white w3-margin-bottom">  <!-- Education -->
    <h2 class="w3-text-grey w3-padding-16"><em class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal" aria-hidden="true"></em>Education</h2>
    
    <div class="w3-container"> <!--  Baltic Training -->
        <h5 class="w3-opacity"><strong>Baltic Training</strong></h5> 
        <h6 class=""><em class="fa fa-star fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>City and Guilds level 3 advance diploma: software development</h6>
        <h6 class=""><em class="fa fa-calendar fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>Mar 2012 - Dec 2014</h6>
        <h6 class=""><em class="fa fa-globe fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>Remote Learning</h6>
        <hr>
    </div>

    <div class="w3-container"> <!--  Neale wade community college -->
        <h5 class="w3-opacity"><strong>Neale Wade Community College</strong></h5>
        <h6 class=""><em class="fa fa-star fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>A level: mathematics, product design, art and design</h6>
        <h6 class=""><em class="fa fa-calendar fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>Mar 2012 - Dec 2014</h6>
        <h6 class=""><em class="fa fa-globe fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>March, Cambridgeshire, United Kingdom</h6>
        <hr>
    </div>
</div>