<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Josh Watson">
    <title>{% if title %}{{title}} | {% endif %}Josh Watson </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="/stylesheets/menus/overlay.css">
    <link rel="stylesheet" href="/stylesheets/menus/sidenav.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/menus.js"></script>


  </head>
  <body>
    <!-- HEADER -->
    {% include "header.html" %}
    <!-- END HEADER -->

    <!-- MAIN CONTENT -->
    {% block mainContent %}
    default Content
    {% endblock %}
    <!-- END MAIN CONTENT -->

    <!-- FOOTER -->
    {% include "footer.html" %}
    <!-- END FOOTER -->
  </body>
</html>