<div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
    <div class="w3-display-container">
        <img src="/assets/images/avatar.png" style="width:100%;" alt="Avatar">

        <div class="w3-container w3-text-dark-grey">
            <h2>Josh Watson</h2>
            <hr>
        </div>
    </div>

    <div class="w3-container">
        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-xlarge w3-text-teal" aria-hidden="true"></i>Developer</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-xlarge w3-text-teal" aria-hidden="true"></i>Cambridge, UK</p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-xlarge w3-text-teal" aria-hidden="true"></i>email@address.com</p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-xlarge w3-text-teal" aria-hidden="true"></i>+447000-000-000</p>
        <hr>
    </div>

    <div class="w3-container">
        <i class="fa fa-twitter w3-hover-opacity w3-xxlarge w3-text-teal" aria-hidden="true"></i>
        <i class="fa fa-linkedin w3-hover-opacity w3-xxlarge w3-text-teal" aria-hidden="true"></i>
        <i class="fa fa-github w3-hover-opacity w3-xxlarge w3-text-teal" aria-hidden="true"></i>
        <i class="fa fa-free-code-camp w3-hover-opacity w3-xxlarge w3-text-teal" aria-hidden="true"></i>
    </div>
    <br>
</div>