<div class="w3-white w3-text-grey w3-card-4 w3-margin-bottom">
    <div class="w3-display-container">
        <img src="{{ profileURL }}" style="width:100%;" alt="Profile image">
        <div class="w3-container w3-text-dark-grey">
            <h2>Josh Watson</h2>
            <hr>
        </div>
    </div>

    <div class="w3-container">
        <p><em class="fa fa-briefcase fa-fw w3-margin-right w3-xlarge w3-text-teal" aria-hidden="true"></em>Developer</p>
        <p><em class="fa fa-home fa-fw w3-margin-right w3-xlarge w3-text-teal" aria-hidden="true"></em>Cambridge, UK</p>
        <p><em class="fa fa-envelope fa-fw w3-margin-right w3-xlarge w3-text-teal" aria-hidden="true"></em>watson6982@hotmail.co.uk</p>
        <p><em class="fa fa-phone fa-fw w3-margin-right w3-xlarge w3-text-teal" aria-hidden="true"></em>+447714164806</p>
        <hr>
    </div>

    <div class="w3-container">
        <a href="https://twitter.com/dev_joshwatson" target="_blank"><em class="fa fa-twitter w3-hover-opacity w3-xxlarge w3-text-teal" aria-hidden="true"></em></a>
        <a href="https://www.linkedin.com/in/watson6982" target="_blank"><em class="fa fa-linkedin w3-hover-opacity w3-xxlarge w3-text-teal" aria-hidden="true"></em></a>
        <a href="https://github.com/Watson6982" target="_blank"><em class="fa fa-github w3-hover-opacity w3-xxlarge w3-text-teal" aria-hidden="true"></em></a>
        <a href="https://www.facebook.com/Watson6982" target="_blank"><em class="fa fa-facebook w3-hover-opacity w3-xxlarge w3-text-teal" aria-hidden="true"></em></a>
    </div>
    <br>
</div>