<div class="w3-container w3-card-2 w3-white w3-margin-bottom"> <!--Career-->
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal" aria-hidden="true"></i>Skillset</h2>

    <div class="w3-container"> <!-- HTML / CSS -->
        <h5 class="w3-opacity"><b>HTML & CSS</b></h5>
        <ul>
            <li>Understand Semantic HTML</li>
            <li>Able to explain the CSS Box Model</li>
            <li>Understand the benefits of CSS preprocessors.</li>
            <li>Can use CSS Media Queries to target different devices and write responsive CSS</li>
            <li>Familiar with Front-end frameworks such as Bootstrap</li>
        </ul>
        <hr>
    </div>

    <div class="w3-container"> <!-- Javascript -->
        <h5 class="w3-opacity"><b>JavaScript</b></h5>
        <ul>
            <li>Understand how to work with the DOM</li>
            <li>Understand JSON and how to manipulate it</li>
            <li>Asynchronous control flow, promises, and callbacks</li>
            <li>Understanding of JavaScript language construction</li>
            <li>Familiar with jQuery</li>
        </ul>
        <h6 class=""><i class="fa fa-pencil fa-fw w3-margin-right w3-text-teal " aria-hidden="true"></i><b>Learning goals</b></h6>
        <ul>
            <li>Understand important language features such as functional composition, prototypal inheritance, closures, event delegation, scope, higher-order functions.</li>
            <li>Understand how to properly structure your code and modularize parts of it, using tools such as webpack, browserify, or build tools such as gulp.</li>
            <li>Know how to use at least one popular framework (e.g. React or AngularJS) </li>
            <li>Knowledge on testing frameworks and why they’re important.</li>
        </ul>
        <hr>
    </div>
    
    <div class="w3-container"> <!-- Back-end Lanaguage -->
        <h5 class="w3-opacity"><b>Back-end lanaguage</b></h5>
        <ul>
            <li>Understand Node.js with Express framework</li>
            <li>Basic understnanding of Java</li>
            <li>Familiar with PHP</li>       
        </ul>
        <h6 class=""><i class="fa fa-pencil fa-fw w3-margin-right w3-text-teal " aria-hidden="true"></i><b>Learning goals</b></h6>
        <ul>
            <li>Understand Ruby with Rails or Sinatra framework</li>
            <li>Understand Python with Django or Flask framework</li>
        </ul>
        <hr>
    </div>

    <div class="w3-container"> <!-- DB / Storage -->
        <h5 class="w3-opacity"><b>Databases & Web storage</b></h5>
        <ul>
            <li>Understand the benefits of relational data (e.g. SQL).</li>
            <li>Familiar with NoSQL databases and Object relational modeling (e.g. MongoDB)</li>
            <li>Understand which would be better in certain situations</li>
            <li>Familiar with connecting a database to a back-end language (e.g. Node.js + MongoDB)</li>
            <li>Understand how to utilise Web storage to store sessions, cookies, and cached data in the browser.</li>     
        </ul>
        <h6 class=""><i class="fa fa-pencil fa-fw w3-margin-right w3-text-teal " aria-hidden="true"></i><b>Learning goals</b></h6>
        <ul>
            <li>Understand the benefits of in-memory data stores like Redis or memcached.</li>
            <li>Scaling databases</li>
            <li>Guarantee databse transaction reliably using ACID (atomicity, consistency, isolation, durability)</li>
        </ul>
        <hr>
    </div>

    <div class="w3-container"> <!-- HTTP / REST -->
        <h5 class="w3-opacity"><b>HTTP & REST</b></h5>
        <ul>
            <li>What REST is and why is it important in regards to the HTTP protocol and web applications</li>
            <li>Familiar with using Chrome DevTools</li>
            <li>Understnad What an SSL Certificates is</li>
        </ul>
        <h6 class=""><i class="fa fa-pencil fa-fw w3-margin-right w3-text-teal " aria-hidden="true"></i><b>Learning goals</b></h6>
        <ul>
            <li>Best practices for designing a RESTful API. POST/GET requests</li>
            <li>HTTP/2 & SPDY</li>
            <li>WebSockets</li>
            <li>Web Workers and Service Workers</li>
        </ul>
        <hr>
    </div>

    <div class="w3-container"> <!-- Web application architecture -->
        <h5 class="w3-opacity"><b>Web application architecture</b></h5>
        <ul>
            <li>Familiar with common Paas (e.g. Heroku, AWS and Azure) </li>
            <li>Understand the benefits Performance optimization for applications and modern browsers</li>
            <li>Some opinions on what a web application architecture should include</li>
            <li>Familiar with MVC</li>
        </ul>
        <h6 class=""><i class="fa fa-pencil fa-fw w3-margin-right w3-text-teal " aria-hidden="true"></i><b>Learning goals</b></h6>
        <ul>
            <li>Designing Web Applications by Microsoft</li>
        </ul>
        <hr>
    </div>

    <div class="w3-container"> <!-- Version -->
        <h5 class="w3-opacity"><b>Version Control</b></h5>
        <ul>
            <li>Familiar with version control (e.g. Git)</li>
            <li>Familiar with version control products (e.g. Github and Team Foundation Service)</li>
        </ul>
        <hr>
    </div>

</div>