<div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <!--Career-->
    <h2 class="w3-text-grey w3-padding-16"><em class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"
            aria-hidden="true"></em>Volunteer</h2>
    <div class="w3-container w3-text-dark-grey">
        <!-- e-Luminate -->
        <h5 class="w3-opacity">e-Luminate Foundation</h5>
        <h6 class=""><em class="fa fa-globe fa-fw w3-margin-right w3-text-teal" aria-hidden="true"></em>Cambridge, UK
            <ul>
                <li>Implemented, developed and supported a self-hosted wordpress site (running MySQL) for the annual
                    festival of light. I was also responsible for implementing the design of the site which required me
                    to learn and apply skills in HTML, CSS, JavaScript and PHP.</li>
                <li>Implemented and supported infrastructure for the foundation. This required me to understand how the
                    Linux based web hosting was configured. I was also responsible for domain name management, DNS and
                    email services.</li>
                <li>Worked alongside a team of volunteers and exhibitors year on year, to successfully deliver the 2015,
                    16 and 17 light festival which consisted of events and installations raising awareness about
                    sustainability and well being.</li>
            </ul>
            <hr>
    </div>
</div>